@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-slideIn20: slideIn 0.2s ease-in-out;
  --animate-slideIn25: slideIn 0.25s ease-in-out;
  --animate-slideIn35: slideIn 0.35s ease-in-out;
  --animate-slideIn45: slideIn 0.45s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

@utility animate-slideIn20 {
  animation: var(--animate-slideIn20);
}

@utility animate-slideIn25 {
  animation: var(--animate-slideIn25);
}

@utility animate-slideIn35 {
  animation: var(--animate-slideIn35);
}

@utility animate-slideIn45 {
  animation: var(--animate-slideIn45);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }
}
