name: Build Docker images
on:
  push:
    branches:
      - main

jobs:
  build_app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to ghcr.io
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - uses: int128/kaniko-action@v1
        with:
          context: app
          target: release
          push: true
          tags: ghcr.io/${{ github.repository }}-app:${{ github.head_ref || github.ref_name }}
          cache: true
          cache-repository: ghcr.io/${{ github.repository }}-app/cache
