name: Deploy
on:
  workflow_dispatch:

jobs:
  deploy_prod:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create SSH key
        run: |
          mkdir ~/.ssh/
          echo "${{secrets.SSH_KNOWN_HOSTS}}" >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts
          eval $(ssh-agent -s)
          ssh-add <(echo "${{secrets.SSH_PRIVATE_KEY}}")
          ssh -p ${{secrets.SERVER_PORT}} "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}" "echo '${{ secrets.GHCR_TOKEN }}' | docker login ghcr.io -u ${{ github.actor }} --password-stdin"
          ssh -p ${{secrets.SERVER_PORT}} "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}" "cd /home/ubuntu/docker/${{ github.event.repository.name }} && docker pull ghcr.io/${{ github.repository }}-backend:main"
          ssh -p ${{secrets.SERVER_PORT}} "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}" "cd /home/ubuntu/docker/${{ github.event.repository.name }} && docker pull ghcr.io/${{ github.repository }}-backend_webserver:main"
          ssh -p ${{secrets.SERVER_PORT}} "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}" "cd /home/ubuntu/docker/${{ github.event.repository.name }} && docker pull ghcr.io/${{ github.repository }}-backend_cron:main"
          ssh -p ${{secrets.SERVER_PORT}} "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}" "cd /home/ubuntu/docker/${{ github.event.repository.name }} && docker pull ghcr.io/${{ github.repository }}-frontend-webserver-production:main"
          ssh -p ${{secrets.SERVER_PORT}} "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}" "cd /home/ubuntu/docker && docker compose down"
          scp -P ${{secrets.SERVER_PORT}} docker-compose.yml "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}:/home/ubuntu/docker/${{ github.event.repository.name }}/docker-compose.yml"
          scp -P ${{secrets.SERVER_PORT}} -pqr containers/* "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}:/home/ubuntu/docker/${{ github.event.repository.name }}/containers/"
          ssh -p ${{secrets.SERVER_PORT}} "${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOSTNAME }}" "cd /home/ubuntu/docker && docker compose up -d"

        shell: bash
